package main

import (
	"fmt"
	{{ if .Signal -}}
	"os"
	"os/signal"
	"syscall"
	{{- end }}
	
	"github.com/spf13/cobra"
	"github.com/virzz/daemon"
)

const (
	appID 		  = "{{.AppID}}"
	name        = "{{.Name}}"
	description = "{{.Description}}"
)
var (
	Version string = "latest"
	Commit string = "unknown"

	rootCmd = daemon.RootCmd()
)


func Action(cmd *cobra.Command, args []string) error {
	{{ if .Signal -}}
	sig := make(chan os.Signal, 1)
	signal.Notify(sig, os.Interrupt, syscall.SIGTERM)
	{{- end }}
	// TODO: Add your code here
	{{ if .Signal -}}
	<-sig
	{{- end }}
	return nil
}

func main() {
	rootCmd.Flags().BoolP("debug", "d", false, "debug mode")
	_, err := daemon.New(appID, name, description, Version+" "+Commit)
	if err != nil {
		fmt.Println("Error: ", err)
		return
	}
	daemon.Execute(Action)
}
