package main

import (
	"fmt"

	"github.com/virzz/daemon"
)

const (
	name        = "{{.Name}}"
	description = "{{.Description}}"
	author      = "{{.Author}}"
)

var (
	Version string = "latest"
	Revsion string = "unknown"
)

func main() {
	_, err := daemon.New(name, description, Version, author)
	if err != nil {
		fmt.Println("Error: ", err)
		return
	}
	daemon.Execute(Action)
}
